<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>F1 DATA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <span class="icon-menu material-symbols-outlined">menu</span>
                <a href="/"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <div class="nav-links">
                <a href="/"><div class="nav-link"><span>HOME</span></div></a>
                <a href="/calendar" class="current"><div class="nav-link">CALENDAR</div></a>
                <a href="/teams"><div class="nav-link">TEAMS & DRIVERS</div></a>
                <a href="/results"><div class="nav-link">RESULTS</div></a>
            </div>
            <div class="nav-github"><a href="https://github.com/RathGate/KOJOK-TARRAF_CORBEL_PROJET_WEB" target="_blank"><img src="assets/img/github-logo.png" alt="Github Logo"></a></div>
        </nav>
    </header>
    <main style="max-width: 1300px; margin: 0 auto">
        <div class="main-title-container">
            <img src="assets/img/title-background.png" alt="">
            <h1>2023 SCHEDULE</h1>
            <h3>All start times below are converted to your local time (detected as <span id="tz"></span>)</h3>
        </div>
        
        <section style="width:90%; margin: 0 auto;" class="section-schedule">
            
            <div class="schedule-container">
                {{ range .Races }}
                {{ $delta := .GetTimeInterval }}
                <div class="schedule-item">
                    <div class="header">
                        <div class="round">ROUND {{ .Id }}</div>
                        <div class="date flex-vt-ct">
                            <span class="days">{{ index $delta.days 0}} - {{ index $delta.days 1}}</span>
                            <div>
                                {{ range $key, $value := $delta.months }}
                                <span class="month">{{ $value }}</span>
                                {{end}}
                            </div>
                        </div>
                        <div class="infos flex-vt-ct">
                            <span class="title gp-name">{{ .Name }}</span>
                            <span class="details">{{.Circuit.Name}}</span>
                            <span class="details upper">{{.Circuit.Location.Locality}} - <span>{{.Circuit.Location.Country }}</span></span>
                        </div>
                        <div class="flag flex-vt-ct">
                            <img src="../assets/img/flags/{{.RetrieveFlag}}.jpg" alt="Bahrain flag">
                        </div>
                    </div>
                    <div class="content">
                        <div class="datetime-container">
                            <span class="calendar-title">QUALIFICATIONS</span>
                            <div class="datetime"><span class="date">{{formatDate .Qualifying.Date}}</span> - <span class="time">{{formatTime .Qualifying.Time}}</span></div>
                        </div>
                        {{ if .Sprint.Date}}<div class="datetime-container">
                            <span class="calendar-title">SPRINT RACE:</span class="calendar-title">
                            <div class="datetime"><span class="date">{{formatDate .Sprint.Date}}</span> - <span class="time">{{formatTime .Sprint.Time}}</span></div>
                        </div>{{end}}
                        <div class="datetime-container">
                            <span class="calendar-title">MAIN RACE:</span class="calendar-title">
                            <div class="datetime"><span class="date">{{formatDate .Date}}</span> - <span class="time">{{formatTime .Time}}</span></div>
                        </div>
                    </div>
                    <span class="down-arrow material-symbols-outlined">expand_more</span>
                </div>
            {{end}}
            </div>
        </section>
    </main>
    <footer>
        (c) Marianne CORBEL & Malcom KOJOK-TARRAF
    </footer>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/calendar.js"></script>
</body>
</html>