<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>F1 DATA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <span class="icon-menu material-symbols-outlined">menu</span>
                <a href="/"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <div class="nav-links">
                <a href="/" class="current"><div class="nav-link"><span>HOME</span></div></a>
                <a href="/calendar"><div class="nav-link">CALENDAR</div></a>
                <a href="/teams"><div class="nav-link">TEAMS & DRIVERS</div></a>
                <a href="/results"><div class="nav-link">RESULTS</div></a>
            </div>
            <div class="nav-github"><a href="https://github.com/RathGate/KOJOK-TARRAF_CORBEL_PROJET_WEB" target="_blank"><img src="assets/img/github-logo.png" alt="Github Logo"></a></div>
        </nav>
    </header>
    <main class="landing">
        <section class="countdown-container ">
            <div class="countdown-bg"><img src="assets/img/countdown-background.png" alt=""></div>

            <div class="countdown-hovered">
                
                <div class="countdown flex-ht-ct hover">
                    <div class="time-block">
                        <span id="days">00</span>
                        <span class="unit">DAYS</span>
                    </div>
                    <div class="time-block middle">
                        <span id="hours">00</span>
                        <span class="unit">HOURS</span>
                    </div>
                    <div class="time-block middle">
                        <span id="minutes">00</span>
                        <span class="unit">MINUTES</span>
                    </div>
                    <div class="time-block">
                        <span id="seconds">00</span>
                        <span class="unit">SECONDS</span>
                    </div>
                </div>
                <div class=" sub-countdown flex-vt-ct hover"><div class="calendar-title start">START OF 2023 SEASON: BAHRAIN</div><a href="/calendar"><span class="calendar-link">SEE FULL CALENDAR</span></a></div>
            </div>
            
        </section>
    </main>
    
    <script src="assets/js/script.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>