/* ?NAV CONTAINERS: */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 15;
}

nav {
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--color-red);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px red;
    background-color: var(--color-dark);
    position: relative;
}

.nav > * {
    height: 100%;
}

/* ?LEFT PART (logo & burger icon): */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-logo img {
    max-height: 20px;
    display: block;
}

.icon-menu {
    display: none;
    font-size: 40px;
    cursor: pointer;
}

/* ?MIDDLE PART (nav links): */
.nav-links a {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Formula-1";
    font-size: 14px;
    height: 100%;
    gap: 10px;
}

.nav-link {
    position: relative;
}

.current {
    background-color: var(--color-red);
}

/* Decorations on links: */
.nav-link::before, .calendar-link::before {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    width: 0px;
    height: 3px;
    transition: all .20s ease-in-out;
}

.nav-links a:hover .nav-link::before, .calendar-link:hover::before {
    background-color: var(--color-red);
    width: 100%;
    transition: all .20s ease-in-out;
}

/* ?RIGHT PART (github logo): */
.nav-github img {
    height: 35px;
    transform: scale(.9);
    opacity: .5;
    transition: .25s ease-in-out;
}
.nav-github:hover img {
    transform: scale(1);
    opacity: 1;
}
