/* ?COUNTDOWN: */
.countdown-container {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 70px;
}

.countdown-container :not(.countdown-bg) {
    z-index: 5;
}

/* Background image: */
.countdown-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.countdown-bg img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 20%;
}

/* Countdown itself: */
.countdown {
    padding-bottom: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-hovered {
    height: fit-content;
    width: 100%;
    max-width: 1000px;
    padding: 5% 0;
}

.time-block {
    width: 25%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 120px;
    aspect-ratio: 1;
}

/* Decorative red borders between parts: */
.time-block:not(:first-child) {
    border-left: 2px solid red;
}
.time-block:not(:last-child) {
    border-right: 2px solid red;
}

.unit {
    font-size: 25px;
}

/* Subtext under countdown: */
.sub-countdown {
    gap: 20px;
}

.start {
    font-size: 25px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: #131313;
    animation: bg-slide-in-text 2s ease-in-out;
}
.start::after {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    content: "";
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    z-index: -1;
    animation: bg-slide-in 2s ease-in-out;
}

.calendar-link {
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
}

/* ?ANIMATIONS: */

/* Subcountdown text animations: */
@keyframes bg-slide-in {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bg-slide-in-text {
    0% {
        color: transparent;
    }
    100% {
        color: #131313;
    }
}