/* ?UPPER PART (round select): */

/* Containers: */
.race-select-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    margin: 30px auto;
    width: 90%;
    padding-bottom: 10px;
}
.race-select-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: 14px;
    transition: .25s ease;
    padding: 0 20px;
    cursor: pointer;
}

.race-select-item:not(.active) {
    transform: scale(95%);
}

/* Flags: */
.race-select-item .flag {
    height: 40px;
    margin-bottom: 8px;
}
.race-select-item .flag img {
    border-radius: 5px;
    max-height: 100%;
    margin: auto;
}

/* Data: */
.race-item-city {
    text-transform: uppercase;
    font-family: "Formula-1";
}

/* Hover: */
.race-select-item:not(.active) span {
    opacity: 80%;
}

.race-select-item:hover span {
    opacity: 100%;
}

.race-select-item:hover, .active {
    transform: scale(100%);
}

/* Scrollbar: */
.race-select-container::-webkit-scrollbar {
    height: 10px;
}
.race-select-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .15);
}
.race-select-container::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 47, 0.80)
}
.race-select-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-red);
}

/* TODO: OTHERS */

#content {
    width: 90%;
    margin: 0 auto;
}

table {
    font-style: "Formula-1";
    font-size: 15px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
thead {
    text-align: left;
    border-bottom: 2px solid var(--color-red);
    font-family: "Formula-1", sans-serif;
}
table .team {
    text-transform: uppercase;
}
th, td {
    padding: 15px 15px;
    overflow: hidden;
}
tbody tr {
    border: 3px solid transparent;
    border-top-width: 0;
}
tr {
    cursor:default;
    padding-left: 5px;
    transition: border .2s ease;
    border-radius: 20px;
}
tbody tr:hover {
    border-color: var(--color-red);
}
.ct {
    text-align: center;
    width: 12%;
}
tr:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, .05);
}
.pos {
    width: 80px;
    padding-right: 0;
    font-family: "Formula-1";
}

table .flag {
    width: 30px;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
table .flag img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 3px;
}
.td-img {
    gap: 10px;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

#content {
    margin-top: 60px;
}
#content h2 {
    font-size: 40px;
    font-family: "Formula-1";
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.over {
    opacity: .8;
    letter-spacing: 1px;
}

.over span {
    font-weight: 900;
    color: var(--color-red);
}

.results-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 ;
}

.results-header .flag {
    margin-top: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results-header .flag img {
    max-height: 100%;
    border-radius: 3px;
}

.race-info {
    opacity: .8;
    letter-spacing: 1px;
    font-size: 18px;
}
.race-info .location {
    font-style: italic;
}
.race-info .location :last-child{
    color: var(--color-red);
    font-weight: bold;

}
.race-info .location span {
    text-transform: uppercase;
}
.results-header .datetime {
    font-family: "Formula-1", Inter, sans-serif;
    background-color: white;
    color: #131313;
    font-weight: bold;
    width: fit-content;
    padding: 0 4px;
    border-radius: 3px;
    margin-bottom: 8px;
}