@import url("nav.css");
@import url("test.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("title.css");
@import url("results.css");

@font-face {
    font-family: "Formula-1";
    src: url(../fonts/Formula1-Regular.ttf);
}
@font-face {
    font-family: "Formula-1 Wide";
    src: url(../fonts/Formula1-Wide.ttf);
}

:root {
    --color-dark: #131313;
    --color-red: #ff002f;
    --color-alpha-romeo: #c92d4b;
    --color-alphatauri: #5e8faa;
    --color-alpine: #2293d1;
    --color-aston-martin: #358c75;
    --color-ferrari: #f91536;
    --color-haas: #b6babd;
    --color-mclaren: #f58020;
    --color-mercedes: #6cd3bf;
    --color-red-bull: #3671c6;
    --color-williams: #37bedd;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

html, body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-dark);
    color: #ececec;
    font-family: 'Inter', sans-serif;
}

main {
    padding-top: 70px;
    min-height: 100%;
}
section:not(.countdown-container) {
    max-width: 1300px; 
    margin: 0 auto;
}

.countdown-container {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 70px;
}

.countdown-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.countdown-bg img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 20%;
}

.countdown-container :not(.countdown-bg) {
    z-index: 5;
}

.countdown {
    padding-bottom: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-block {
    width: 25%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 120px;
    aspect-ratio: 1;
}
.unit {
    font-size: 25px;
}
.time-block:not(:first-child) {
    border-left: 2px solid red;
}
.time-block:not(:last-child) {
    border-right: 2px solid red;
}
/* .countdown td {
    width: 200px;
    padding: 0 20px 10px;
    font-size: 120px;
    
    text-align: center;
    vertical-align: middle;
}
.countdown td:not(:last-child), .countdown th:not(:last-child) {
    border-right: 3px solid var(--color-red);
}

.countdown table {
    border-spacing: unset;
} */

.section-info {
    height: 100%;
    width: 100%;
    scroll-margin-top: 70px;
}
.section-idk {
    height: 100%;
    width: 100%;
    scroll-margin-top: 70px;
}



.start {
    font-size: 25px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: #131313;
    animation: bg-slide-in-text 2s ease-in-out;
}
.start::after {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    content: "";
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    z-index: -1;
    animation: bg-slide-in 2s ease-in-out;
}
.cd-hover {
    height: fit-content;
    width: 100%;
    max-width: 1000px;
    padding: 5% 0;
}

@keyframes bg-slide-in {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bg-slide-in-text {
    0% {
        color: transparent;
    }
    100% {
        color: #131313;
    }
}

.sub-countdown {
    gap: 20px;
}
.calendar-link {
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 42px;
    }

    .test {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 950px) {
    h1 {
        font-size: 38px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 770px) {
    h1 {
        font-size: 35px;
    }
    h3 {
        font-size: 16px;
    }
    .start {
        font-size: 20px;
    }
    .calendar-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {
    .countdown {
        padding-bottom: 30px;
    }
    .start {
        font-size: 16px;
    }
    .calendar-link {
        font-size: 12px;
    }
    .sub-countdown {
        gap: 10px;
    }
    h3 {
        margin-bottom: 20px;
    }
    h1 {
        font-size:25px;
    }
}
