.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.container:hover {
    cursor: pointer;
}
.container:hover .title {
    color: var(--color-red);
}
.container:hover .round {
    opacity: 1;
}
.header {
    min-height:110px;
    width: 100%;
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
}
.header .date {
    width: 180px;
    gap: 5px;
    justify-content: center;
    font-family: "Formula-1";
}

.flex-vt-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days {
    font-size: 35px;
}
.month, .calendar-title {
    font-size: 20px;
    padding: 0 4px ;
    background-color: var(--color-red);
    border-radius: 5px;
    font-family: "Formula-1";
}

.infos {
    padding-left: 40px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 4px;
    position: relative;
}
.infos::after {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 2px;
    background-color: white;
}
.title {
    font-weight: bold;
    margin-bottom: 7px;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: "Formula-1";
    transition: color .2s ease;
}
.details {
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 85%;
    font-family: "Formula-1";
    font-style: italic;
    margin-bottom: 2px;
}
.flag {
    margin-right: 30px;
    height: 100%;
    width: 90px;
    aspect-ratio: 1;
}
.flag img {
    margin: auto;
    max-height: 60px;
    max-width: 90px;
    border-radius: 5px;
}

.round {
    position: absolute;
    bottom: -20px;
    left: -10px;
    transform: rotate(270deg);
    width: 110px;
    transform-origin: 0 0 ;
    opacity: 50%;
    transition: opacity .3s ease;
    text-align: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.upper {
    text-transform: uppercase;
}
.upper span {
    font-weight: bold;
    color: var(--color-red);
}

.content {
    height: 0px;
    width: 100%;
    border: 2px solid rgba(255,255,255,0.5);
    border-width: 0 3px 3px;
    overflow: hidden;
    transition: 0.2s ease;
}
.container .content.visible {
    padding: 10px 0 20px;
    border-color: var(--color-red);
    border-radius: 5px;
    border-width: 0 3px 3px;
    height: fit-content;
}

.down-arrow {
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
    background-color: #131313;
    font-size: 50px;
}
.calendar-title {
    background-color: white;
    color: #131313;
    font-size: 18px;
    font-weight: bold;
}
.datetime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.datetime {
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 950px) {
    .nav-links {
        display: none;
        width: 100%;
        left: 0;
        position: absolute;
        top: 70px;
        transform: translateY(-100%);
        flex-direction: column;
        height: auto;
        background-color: rgba(19, 19, 19, 0.9);
        backdrop-filter: blur(5px);
        padding: 15px 0 20px;
        border-bottom: 3px solid white;
    }
    .icon-menu {
        display: inline-block;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link {
        height: 70px;
    }
    .nav-links.visible {
        display: flex;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 770px) {
}
@media screen and (max-width: 580px) {
}