<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>F1 DATA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <span class="icon-menu material-symbols-outlined">menu</span>
                <a href="/"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <div class="nav-links">
                <div class="nav-link"><a href="/">HOME</a></div>
                <div class="nav-link"><a href="/calendar">CALENDAR</a></div>
                <div class="nav-link current"><a href="/teams">TEAMS & DRIVERS</a></div>
                <div class="nav-link"><a href="/results">RESULTS</a></div>
            </div>
            <div class="nav-github"><a href="https://github.com/RathGate/KOJOK-TARRAF_CORBEL_PROJET_WEB" target="_blank"><img src="assets/img/github-logo.png" alt="Github Logo"></a></div>
        </nav>
    </header>
    <main>
        <section>
            <div class="main-title-container">
                <img src="assets/img/title-background.png" alt="">
                <h1>TEAMS & DRIVERS</h1>
                <h3>All drivers and teams for 2023 season !</h3>
            </div>
            <div class="team-container">
                <div class="team-item">
                    <div class="team-item-header red-bull-bg">
                        <span>RED BULL RACING</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 1st</div>
                            <div class="constructor-country">COUNTRY : AUSTRIA <div class="flag"><img src="../assets/img/flags/AUT.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/verstappen.png" alt=""><span class="tag">1</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Max <span class="red-bull-bg">VERSTAPPEN</span></div><div class="flag"><img src="../assets/img/flags/NLD.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/perez.png" alt=""><span class="tag">11</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Sergio <span class="red-bull-bg">PEREZ</span></div><div class="flag"><img src="../assets/img/flags/SPA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="team-item">
                    <div class="team-item-header ferrari-bg">
                        <span>FERRARI</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 2nd</div>
                            <div class="constructor-country">COUNTRY : ITALY <div class="flag"><img src="../assets/img/flags/ITA.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/leclerc.png" alt=""><span class="tag">16</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Charles <span class="ferrari-bg">LECLERC</span></div><div class="flag"><img src="../assets/img/flags/MON.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/sainz.png" alt=""><span class="tag">55</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Carlos <span class="ferrari-bg">SAINZ</span></div><div class="flag"><img src="../assets/img/flags/SPA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="team-item">
                    <div class="team-item-header mercedes-bg">
                        <span>MERCEDES AMG</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 3nd</div>
                            <div class="constructor-country">COUNTRY : GERMANY <div class="flag"><img src="../assets/img/flags/DEU.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/hamilton.png" alt=""><span class="tag">44</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Lewis <span class="mercedes-bg">HAMILTON</span></div><div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/russell.png" alt=""><span class="tag">63</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>George <span class="mercedes-bg">RUSSELL</span></div><div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header alpine-bg">
                        <span>ALPINE</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 4th</div>
                            <div class="constructor-country">COUNTRY : FRANCE <div class="flag"><img src="../assets/img/flags/FRA.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/ocon.png" alt=""><span class="tag">31</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Esteban <span class="alpine-bg">OCON</span></div><div class="flag"><img src="../assets/img/flags/FRA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/gasly.png" alt=""><span class="tag">10</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Pierre <span class="alpine-bg">GASLY</span></div><div class="flag"><img src="../assets/img/flags/FRA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header mclaren-bg">
                        <span>MCLAREN</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 5th</div>
                            <div class="constructor-country">COUNTRY : GREAT BRITAIN<div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/norris.png" alt=""><span class="tag">4</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Lando <span class="mclaren-bg">NORRIS</span></div><div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/piastri.png" alt=""><span class="tag">81</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Oscar <span class="mclaren-bg">PIASTRI</span></div><div class="flag"><img src="../assets/img/flags/AUS.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header alfa-bg">
                        <span>ALFA ROMEO</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 6th</div>
                            <div class="constructor-country">COUNTRY : SWITZERLAND<div class="flag"><img src="../assets/img/flags/CHE.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/bottas.png" alt=""><span class="tag">77</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Valtteri <span class="alfa-bg">BOTTAS</span></div><div class="flag"><img src="../assets/img/flags/FIN.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/zhou.png" alt=""><span class="tag">24</span></div>
                                <div class="driver-info">
                                    <div class="name"><div><span class="alfa-bg">ZHOU</span> Guanyu</div><div class="flag"><img src="../assets/img/flags/CHN.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header aston-bg">
                        <span>ASTON MARTIN</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 7th</div>
                            <div class="constructor-country">COUNTRY : GREAT BRITAIN<div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/stroll.png" alt=""><span class="tag">18</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Lance <span class="aston-bg">STROLL</span></div><div class="flag"><img src="../assets/img/flags/CAN.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/alonso.png" alt=""><span class="tag">14</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Fernando <span class="aston-bg">ALONSO</span></div><div class="flag"><img src="../assets/img/flags/SPA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header haas-bg">
                        <span>HAAS F1 TEAM</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 8th</div>
                            <div class="constructor-country">COUNTRY : UNITED STATES<div class="flag"><img src="../assets/img/flags/USA.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/magnussen.png" alt=""><span class="tag">20</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Kevin <span class="haas-bg">MAGNUSSEN</span></div><div class="flag"><img src="../assets/img/flags/DNK.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/hulkenberg.png" alt=""><span class="tag">27</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Nico <span class="haas-bg">HULKENBERG</span></div><div class="flag"><img src="../assets/img/flags/DEU.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header alphatauri-bg">
                        <span>ALPHATAURI</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 9th</div>
                            <div class="constructor-country">COUNTRY : ITALY<div class="flag"><img src="../assets/img/flags/ITA.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/devries.png" alt=""><span class="tag">45</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Nick <span class="alphatauri-bg">DE VRIES</span></div><div class="flag"><img src="../assets/img/flags/NLD.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/tsunoda.png" alt=""><span class="tag">22</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Yuki <span class="alphatauri-bg">TSUNODA</span></div><div class="flag"><img src="../assets/img/flags/JAP.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="team-item">
                    <div class="team-item-header williams-bg">
                        <span>WILLIAMS</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 10th</div>
                            <div class="constructor-country">COUNTRY : GREAT BRITAIN<div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/albon.png" alt=""><span class="tag">23</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Alexander <span class="williams-bg">ALBON</span></div><div class="flag"><img src="../assets/img/flags/THA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: 19th</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/drivers/sargeant.png" alt=""><span class="tag">2</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Logan <span class="williams-bg">SARGEANT</span></div><div class="flag"><img src="../assets/img/flags/USA.jpg" alt=""></div></div>
                                    <span class="constructor-country big-hidden">2022 CHAMPIONSHIP: .+</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
        </section>
    </main>
    <script src="assets/js/script.js"></script>
</body>
</html>