<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>F1 DATA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <span class="icon-menu material-symbols-outlined">menu</span>
                <span>F1 DATA</span>
            </div>
            <div class="nav-links">
                <div class="nav-link"><a href="/">ACCUEIL</a></div>
                <div class="nav-link"><a href="/calendrier">CALENDRIER</a></div>
                <div class="nav-link current"><a href="/equipes">EQUIPES & PILOTES</a></div>
                <div class="nav-link"><a href="/resultats">RESULTATS</a></div>
            </div>
            <div class="nav-github"><a href="https://github.com/RathGate/KOJOK-TARRAF_CORBEL_PROJET_WEB" target="_blank"><img src="assets/img/github-logo.png" alt="Github Logo"></a></div>
        </nav>
    </header>
    <main>
        <section>
            <div class="main-title-container">
                <img src="assets/img/title-background.png" alt="">
                <h1>TEAMS & DRIVERS</h1>
                <h3>All drivers and teams for 2023 season !</h3>
            </div>

            <div class="team-container">
                <div class="team-item">
                    <div class="team-item-header mercedes">
                        <div class="decoration">
                            <img src="assets/img/mercedes.png" alt="">
                        </div>
                        <span>MERCEDES AMG F1 TEAM</span>
                    </div>
                    <div class="team-item-content">
                        <div class="data">
                            <div class="constructor-info">2022 CHAMPIONSHIP : 2nd</div>
                            <div class="constructor-country">COUNTRY : GERMANY <div class="flag"><img src="../assets/img/flags/DEU.jpg" alt=""></div></div>
                        </div>
                        <div class="drivers-container">
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/hamilton.png" alt=""><span class="tag">44</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Lewis <span class="mercedes">HAMILTON</span></div><div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                                    <span class="constructor-country">2022 CHAMPIONSHIP: 4th</span>
                                </div>
                            </div>
                            <div class="driver-item">
                                <div class="driver-pfp"><img src="../assets/img/hamilton.png" alt=""><span class="tag">44</span></div>
                                <div class="driver-info">
                                    <div class="name"><div>Lewis <span class="mercedes">HAMILTON</span></div><div class="flag"><img src="../assets/img/flags/GBR.jpg" alt=""></div></div>
                                    <span class="constructor-country">2022 CHAMPIONSHIP: 4th</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </div>

            </div>
        </section>
    </main>
    <script src="assets/js/script.js"></script>
</body>
</html>