<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>F1 DATA</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <span class="icon-menu material-symbols-outlined">menu</span>
                <span>F1 DATA</span>
            </div>
            <div class="nav-links">
                <div class="nav-link"><a href="/">ACCUEIL</a></div>
                <div class="nav-link"><a href="/calendrier">CALENDRIER</a></div>
                <div class="nav-link current"><a href="/equipes">EQUIPES & PILOTES</a></div>
                <div class="nav-link"><a href="/resultats">RESULTATS</a></div>
            </div>
            <div class="nav-github"><a href="https://github.com/RathGate/KOJOK-TARRAF_CORBEL_PROJET_WEB" target="_blank"><img src="assets/img/github-logo.png" alt="Github Logo"></a></div>
        </nav>
    </header>
    <main>
        <div class="main-title-container">
            <img src="assets/img/title-background.png" alt="">
            <h1>TEAMS & DRIVERS</h1>
            <h3>All start times below are converted to your local time (detected as <span id="tz"></span>)</h3>
        </div>
    </main>
    <script src="assets/js/script.js"></script>
</body>
</html>